* { box-sizing: border-box; }

body {                              /*coola Bakgrunden*/
    background-color: #00610d;    /*bakgrundsfärg eller BASSSS FÄRGEN*/
    background-image: repeating-linear-gradient(55deg, #32aa03 0px, #2adb42 20px, #03aa19 20px, #03aa19 40px); /*ritar en raklinje sen sätter jag bara färger där pixeln*/
    margin: 0;
    font-family: Arial, sans-serif;  /*FONT*/
  }

  
  .rainbow-bar {                    /*HÄR ÄR REGNBÅGSFÄRGADE LINJEN*/
    height:20px;                    /*höjden*/
    width: 100%;                    /*bredden*/
    background:repeating-linear-gradient(45deg, red, red 15%, orange 15%, orange 30%, yellow 30%, yellow 45%,   /*gör så bakgrunden blir regnbågsfärgad */
    green 45%, green 60%, blue 60%, blue 75%, indigo 75%, indigo 90%, violet 90%, violet 100%);
    
  }
  .titlebar{
    background: linear-gradient(90deg, #808080, #c0c0c0);
    border: 3px outset #c0c0c0;
    padding: 5px 10px;
    color: rgb(98, 224, 14);
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin: 10px;

  }

h1{
  color:blue;
  text-align: center;
  text-shadow: 3px 3px 0 cornflowerblue, -2px -2px 0 rgb(46, 82, 182);
  font-size: 35px;
  }

  .container {                      /*HÄR ÄR ändrar du UTSEENDE på svarta fyrkanten "*/
  max-width: 800px;                 /*hur bred den kan vara*/
  margin: 0 auto;                   /* så den blir i center på sidan*/
  background: black;              /*gö baras så den fyller i den svart*/
  border: 6px ridge #21c01b;      /* den tjocka  GRÖNA bordern, RIDGE gör så den blir fake 3D esk */
  padding: 20px;                    /* mellanrum mellan kanten och allt innehåll i den */
}

.working-progress{                  /*"Sidan är en Working Progress Containern"*/
   color:blue;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 4px dashed rgb(218, 166, 23);
  background-color: #1e1f1e;
}
/*ALIEN SIDAN*/
.box1 {                      /*HÄR ÄR ändrar du UTSEENDE på svarta fyrkanten "*/
  max-width: 80%;                 /*hur bred den can vara*/
  margin: 10px auto;                   /* så den blir i center på sidan*/
  background: black;              /*gö baras så den fyller i den svart*/
  border: 6px ridge red;        /* den tjocka  [insert färgen] bordern, RIDGE gör så den blir fake 3D esk */
  padding: 20px;                 /* mellanrum mellan kanten och allt innehåll i den */
}
.box2 {
  max-width: 70%;
  margin: 10px auto;
  background: black;
  border: 6px ridge orange;
  padding: 20px;
}
.box3 {
  max-width: 60%;
  margin: 10px auto;
  background: black;
  border: 6px ridge yellow;
  padding: 20px;
}
.box4 {
  max-width: 50%;
  margin: 10px auto;
  background: black;
  border: 6px ridge green;
  padding: 20px;
}
.box5 {
  max-width: 40%;
  margin: 10px auto;
  background: black;
  border: 6px ridge blue;
  padding: 20px;
}
.box6 {
  max-width: 30%;
  margin: 10px auto;
  background: black;
  border: 6px ridge indigo;
  padding: 20px;
}
.box7 {
  max-width: 20%;
  margin: 1px auto;
  background: black;
  border: 6px ridge violet;
  padding: 20px;
}
.box8 {
  max-width: 10%;
  margin: 10px auto;
  background: black;
  border: 6px ridge red;
  padding: 20px;
}

.floating-gif-left1 {
  position: absolute;   /*  */
  top: 250px;            /*  */
  left: 50px;            /*  */
  width: 150px;          /* resize på gifen */
}

.floating-gif-left2 {
  position: absolute;   /*  */
  top: 500px;            /*  */
  left: 90px;            /*  */
  width: 150px;          /* resize på gifen */
}

.floating-gif-right1 {
  position: absolute;   /* */
  top: 250px;            /* */
  right: 100px;           /* */
  width: 150px;          /* resize på giffen */
}

.floating-gif-right2 {
  position: absolute;   /* */
  top: 500px;            /* */
  right: 100px;           /* */
  width: 150px;          /* resize på giffen */
}